.App {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.weatherAppHeader {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin: 20px;
  margin-top: 30px;
}

.WeatherCard {
  border: 3px dotted black;
  border-radius: 8px;
  padding:20px;
}

.high {
  margin: 0;
  padding: 0;
  font-size:15px;
  text-transform: uppercase;
}

.highTemp {
  font-size: 26px;
  margin-bottom:0;
  padding-bottom: 2px;
}

.low {
  margin: 0;
  padding: 0;
  font-size:15px;
  text-transform: uppercase;
}

.lowTemp {
  font-size: 26px;
  margin-bottom:0;
  padding-bottom: 2px;
}